<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="favicon" href="favicon.ico">
    <title>file thumbnail</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="component">
        <h3>FORM 파일 업로드</h3>
        <form name="form" method="post" action="/api/file/upload/normal" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" id="submit" value="전송"/>
        </form>
        <br><hr>
    </div>
    <div class="component">
        <h3>이미지 업로드</h3>
        <input type="file" id="imageFileInput" name="files" multiple="multiple"/>
        <button id="imageButton">전송</button>
        <div id="imageDiv"></div>
        <br><hr>
    </div>
    <div class="component">
        <h3>PDF 업로드</h3>
        <input type="file" id="pdfFileInput" name="files" multiple="multiple"/>
        <button id="pdfButton">전송</button>
        <div id="pdfDiv"></div>
        <br><hr>
    </div>
    <div class="component">
        <h3>MP4 업로드</h3>
        <input type="file" id="mp4FileInput" name="files" multiple="multiple"/>
        <button id="mp4Button">전송</button>
        <div id="mp4Div"></div>
        <br><hr>
    </div>

<script>
    // ----------------------------------------------------------------
    const ImageButtonElement = document.querySelector('#imageButton');
    const ImageFileElement = document.querySelector('#imageFileInput');
    const imageGetData = async () => {
        try{
            const formData = new FormData();
            formData.append("file", ImageFileElement.files[0]);
            const url = '/api/file/upload/image';
            const response = await axios.post(url, formData);
            console.log(response)
            const div = document.querySelector("#imageDiv");
            const img = document.createElement("img");
            img.src = response.data;
            div.appendChild(img);
        }
        catch (error){
            console.error(error);
        }
    }
    ImageButtonElement.addEventListener('click', imageGetData);
    // ----------------------------------------------------------------
    const PdfButtonElement = document.querySelector('#pdfButton');
    const PdfFileElement = document.querySelector('#pdfFileInput');
    const pdfGetData = async () => {
        try{
            const formData = new FormData();
            formData.append("file", PdfFileElement.files[0]);
            const url = '/api/file/upload/pdf';
            const response = await axios.post(url, formData);
            console.log(response)
            const div = document.querySelector("#pdfDiv");
            const img = document.createElement("img");
            img.src = response.data;
            div.appendChild(img);
        }
        catch (error){
            console.error(error);
        }
    }
    PdfButtonElement.addEventListener('click', pdfGetData);
    // ----------------------------------------------------------------
    const Mp4ButtonElement = document.querySelector('#mp4Button');
    const Mp4FileElement = document.querySelector('#mp4FileInput');
    const mp4GetData = async () => {
        try{
            const formData = new FormData();
            formData.append("file", Mp4FileElement.files[0]);
            const url = '/api/file/upload/mp4';
            const response = await axios.post(url, formData);
            console.log(response)
            const div = document.querySelector("#mp4Div");
            const img = document.createElement("img");
            img.src = response.data;
            div.appendChild(img);
        }
        catch (error){
            console.error(error);
        }
    }
    Mp4ButtonElement.addEventListener('click', mp4GetData);
    // ----------------------------------------------------------------
</script>
</body>
</html>